<div id="transactions-top">

<h1>Number of tags: <%= @tags.count() %></h1>
<a href="/tags/new" id="btn-add-new">&nbsp;+&nbsp;</a>
</div>

<div id="transaction-page">

<% @tags.each do |tag| %>
<article id="<%= tag.t_name %>"
<p><%= tag.t_name %></p>
<%= print tag %>
<div id="edit-delete">
  <a href="/tags/<%= tag.id %>/edit"><img src="edit.png" alt="edit"></a>
  <form action="/tags/<%= tag.id %>/delete" method="POST">
    <button type="submit" id="btn-delete">
      <img src="trash.png" alt="delete" id="delete-btn">
    </button>
  </form>
</div>


</article>
<% end %>
</div>

<style>
img</style>
