<div id="main-container">

  <div id="summary">
    <% @accounts.each do |account| %>

    <div id="monthly-spend">
      <h1>
        Your total spend this month is £<%= @transactions_total %>
      </h1>
    </div>

    <div id="monthly-left">
      <h2>
        Your total monthly leftover is £<%= account.monthly_income - @transactions_total %>
      </h2>
    </div>

    <div id="most_spent_on">
      <h2>
        You spent the most on <%= @most_spent_on %><br />(£<%= @grouped_cost %>, <%= ((@grouped_cost.to_f / account.monthly_income) * 100).round(0) %>% of monthly budget)
      </h2>
    </div>

    <div id="most_common_tag">
      <h2>
        Your most common transaction was: <%= @most_common_item %> (<%= @most_common_tag_by_number %> times)
      </h2>
    </div>

  </div>
  <% end %>

  <div id="menu-options">

    <a href="/transactions/new" class="menu-item">+ Add a spend</a>
    <a href="/vendors/new" class="menu-item">+ Add a new vendor</a>
    <a href="/tags/new" class="menu-item">+ Add a new tag</a>
    <a href="#" class="menu-item">Transaction history</a>

  </div>

</div>
