<div id="main-container">



  <div id="summary">
    <h1>Welcome to YourCashboard</h1>
    <p id="intro">
      This is your portal to all your expenditure.
    </p>

    <% @accounts.each do |account| %>

    <div id="monthly-spend">
      <h2>
        Your total spend in <%= Date.today.strftime("%B") %> is £<%= @total_by_month %>
      </br/>
      (Year to date: £<%= @transactions_total %>)
    </h2>

    <div id="most_spent_on">
      <h2>
        You spent the most on <%= @most_spent_on %><br />(£<%= @grouped_cost %>, <%= ((@grouped_cost.to_f / account.monthly_income) * 100).round(0) %>% of monthly budget)
      </h2>
    </div>

    <div id="monthly-left">
      <h2>
        <% if account.monthly_income - @total_by_month > 0 %>
        Your total monthly leftover is £<%= account.monthly_income - @total_by_month %>
        <h2>
          <% elsif account.monthly_income - @total_by_month < 0 %>
          <h2 id="trouble">Your total monthly leftover is £<%= account.monthly_income - @total_by_month %> <img id="warning" src="exclamation-mark.png" alt="budget warning" height="16" width="16">
          </h2>
          <% end %>
        </div>
  </div>

      <div id="most_common_tag">
        <h2>
          Your most common transaction was: <%= @most_common_item %> (<%= @most_common_tag_by_number %> times)

        </h2>
      </div>

      <div id="menu-options">

        <a href="/transactions/new" class="menu-item">+ Add a spend</a>
        <a href="/vendors/new" class="menu-item">+ Add a new vendor</a>
        <a href="/tags/new" class="menu-item">+ Add a new tag</a>
        <a href="#" class="menu-item">Transaction history</a>

      </div>

    </div>

    <div id="menu-options">

      <table>
        <tbody>
          <tr>
            <td><strong>Month</strong></td>
            <td><strong>Spend</strong></td>
            <td>Limit</td>
          </tr>
          <% @months.each_with_index do |month_name, month_number| %>
          <tr>
            <td id="table-small"><%= month_name %></td>
            <td id="table-small"><%= month_spend = Transaction.total_by_month(month_number+1) %></td>
            <% if month_spend >= 2000 %>
            <td id="limit-cell">

              <div id="inner-table-red" style="width: <%= (month_spend.to_f/account.monthly_income) * 100 %>%; background-color: #e74c3c; height: 100%; border-radius: 0px 10px 10px 0px;">
              </div>
            </td>

            <% elsif month_spend < 2000 && month_spend >= 1300 %>
            <td id="limit-cell">
              <div id="inner-table-orange" style="width: <%= (month_spend.to_f/account.monthly_income) * 100 %>%; background-color: #f39c12; height: 100%; border-radius: 0px 10px 10px 0px;">
              </div>
            </td>

            <% else %>
            <td id="limit-cell">
              <div id="inner-table-green" style="width: <%= (month_spend.to_f/account.monthly_income) * 100 %>%; background-color: #2ecc71; height: 100%; border-radius: 0px 10px 10px 0px;">
              </div>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <% end %>
  </div>
