<div id="main-container">

  <div id="summary">
    <% @accounts.each do |account| %>
    <div id="monthly-income">

      <p>
        Your monthly income is <%= account.monthly_income %>
      </p>
    </div>
    <div id="monthly-spend">
      <p>
        Your total spend this month is <%= @transactions_total %>
      </p>
    </div>

    <div id="monthly-left">
      <p>
        Your total monthly leftover is <%= account.monthly_income - @transactions_total %>
      </p>
    </div>

    <div id="most_common_tag">
      <p>
        Your most common transaction was: <%= @most_common_item %>
      </p>
    </div>

    <div id="most_spent_on">
      <p>
        You spent the most on: <%= @most_spent_on %>
      </p>
    </div>

  </div>
  <% end %>

  <div id="menu-options">

    <a href="/transactions/new" class="menu-item">+ Add a spend</a>
    <a href="/vendors/new" class="menu-item">+ Add a new vendor</a>
    <a href="/tags/new" class="menu-item">+ Add a new tag</a>
    <a href="#" class="menu-item">Transaction history</a>

  </div>


</div>
