<div id="transactions-top">

  <h1>Number of vendors: <%= @vendors.count() %></h1>
  <a href="/vendors/new" id="btn-add-new">&nbsp;+&nbsp;</a>

</div>
  <div id="transaction-page">

<% @vendors.each do |vendor| %>
<article>
<p><%= vendor.name %></p>
<%= print vendor %>
<div id="edit-delete">
  <a href="/vendors/<%= vendor.id %>/edit"><img src="edit.png" alt="edit"></a>
  <form action="/vendors/<%= vendor.id %>/delete" method="POST">
    <button type="submit" id="btn-delete">
      <img src="trash.png" alt="delete" id="delete-btn">
    </button>
  </form>
</div>
</article>
<% end %>
</div>
