<h1>Alter Transaction details</h1>

<div id="new-transaction">
  <form action="/transactions/<%= @transactions.id %>" method="POST" id="new-edit-form">

    <label for="vendor_id"></label>
    <select name="vendor_id" id="vendor">
      <% for vendor in @vendors %>
      <% if vendor.name == @transactions.vendor.name %>
      <option selected="selected" value="<%= vendor.id %>">
        <%= vendor.name %> (current vendor)
        <% else %>
        <option value="<%= vendor.id %>">
          <%= vendor.name %>
          <% end %>
        </option>
        <% end %>
      </select>

      <label for="tag_id"></label>
      <select name="tag_id" id="vendor">
        <% for tag in @tags %>
        <% if tag.t_name == @transactions.tag.t_name %>
        <option selected="selected" value="<%= tag.id %>">
          <%= tag.t_name %> (current tag)
          <% else %>
          <option value="<%= tag.id %>">
            <%= tag.t_name %>
            <% end %>
          </option>
          <% end %>
        </select>


        <label for="tag_type"></label>
        <select name="tag_type" id="tag-dropdown">
          <option disabled selected value> -- select type -- </option>
          <% for type in @tag_types %>
          <% if type == @transactions.tag.t_type %>
          <option selected="selected" value="<%= tag.t_type %>">
            <%= type %> (current tag)
          </option>
          <% else %>
          <option value="<%= tag.id %>">
            <%= type %>
            <% end %>
            <% end %>
          </select>


          <div id="pound-sign">
            <span>£</span>
            <input type="number" min=0 max=100000 name="amount" id="amount" value="<%= @transactions.amount %>" />
          </div>
          <label for="transaction_date">Date of transaction:</label>
          <input type="date" name="transaction_date" value="<%= @transactions.transaction_date %>">


          <input type="submit" value="Edit transaction" id="btn-new-transaction">

        </form>
      </div>
