<div id="transactions-top">

  <h1>Number of transactions: <%= @transactions.count() %></h1>

  <a href="/transactions/new" id="btn-add-new">&nbsp;+&nbsp;</a>
</div>


<div id="transaction-page">

<% @transactions.each do |transaction| %>
<article>
  <p> Vendor: <%= transaction.vendor.name %></p>
  <p> Transaction amount: £<%= transaction.amount %></p>
  <p> Date: <%= transaction.transaction_date %></p>
  <p> Transaction type:<br /></p>
    <a href="/tags/<%= transaction.tag.id %>" class="btn-tag">
      <p class="<%= transaction.tag.t_name %>"><span id="hover-transition"><%= transaction.tag.t_name %></span>
      </p>
    </a>
    <%= print transaction %>
    <div id="edit-delete">
      <a href="/transactions/<%= transaction.id %>/edit"><img src="edit.png" alt="edit"></a>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <button type="submit" id="btn-delete">
          <img src="trash.png" alt="delete" id="delete-btn">
        </button>
      </form>
    </div>
  </form>
</article>
<% end %>

</div>
