<h1>Number of transactions: <%= @transactions.count() %></h1>

<a href="/transactions/new" class="menu-item">Add new</a>


<div id="transaction-page">

<% @transactions.each do |transaction| %>
<article>
  <p> Transaction type: <%= transaction.tag.t_name %></p>
  <p> Vendor: <%= transaction.vendor.name %></p>
  <p> Transaction amount: £<%= transaction.amount %></p>
  <p> Date: <%= transaction.transaction_date %></p>

  <%= print transaction %>
  <div id="edit-delete">
    <a href="/transactions/<%= transaction.id %>/edit"><img src="edit.png" alt=""></a>
    <form action="/transactions/<%= transaction.id %>/delete" method="POST">
      <button type="submit" id="btn-delete">
        <img src="trash.png" alt="" id="delete-btn">
      </button>
  </form>
    </div>
  </form>
</article>
<% end %>

</div>
