<h1>Number of transactions: <%= @transactions.count() %></h1>

<a href="/transactions/new" class="menu-item">Add new</a>

<article>

<% @transactions.each do |transaction| %>
<p> Transaction type: <%= transaction.tag.t_name %></p>
<p> Vendor: <%= transaction.vendor.name %></p>
<p> Transaction amount: £<%= transaction.amount %></p>
<p> Date: <%= transaction.transaction_date %></p>

<%= print transaction %>
<a href="/transactions/<%= transaction.id %>/edit" class="menu-item">Edit</a>
<a href="/transactions/<%= transaction.id %>/delete" class="menu-item">Delete</a>

<hr />
<% end %>

</article>
