<div id="transactions-top">

  <h1 id="headline">Total transactions: <%= @transactions.count() %></h1>

  <a href="/transactions/new" id="btn-add-new">&nbsp;+&nbsp;</a>
</div>


<div id="transaction-page">

<% @transactions.each do |transaction| %>
<article id="<%= transaction.tag.t_name %>">
  <p id="vendor-name"><strong><%= transaction.vendor.name %></strong></p>
  <p> Transaction amount: £<%= transaction.amount %></p>
  <p> Date: <%= transaction.transaction_date.strftime("%d ") %><a href="/december/<%= transaction.transaction_date.strftime('%Y') %>" id="monthy"><%= transaction.transaction_date.strftime("%B") %></a><%= transaction.transaction_date.strftime(" %Y") %></p>
  <p> Transaction type:<br /></p>
    <a href="/tags/<%= transaction.tag.id %>/all" class="btn-tag">
      <p class="<%= transaction.tag.t_name %>"><span id="hover-transition"><%= transaction.tag.t_name %></span>
      </p>
    </a>
    <%= print transaction %>
    <div id="edit-delete">
      <a href="/transactions/<%= transaction.id %>/edit"><img src="edit.png" alt="edit"></a>
      <form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <button type="submit" id="btn-delete">
          <img src="trash.png" alt="delete" id="delete-btn">
        </button>
      </form>
    </div>
  </form>
</article>
<% end %>

</div>
